name: my-awesome-cicd-tool

on: push

jobs:
  my_first_job:
    name: Building / compiling binaries
    runs-on: ubuntu-latest
    strategy:
      matrix:
        compiler: [clang, gcc]
    steps:
      - name: compile the code
        env:
          CC: ${{ matrix.compiler }}
        run: |
          echo Building with $CC
          $CC --version
          mkdir $CC
          echo '#!/bin/bash\n\necho hello, '$CC ' world!'>> $CC/binary
          chmod +x $CC/binary
    - uses: actions/upload-artifact@v4
      with:
        path: $CC/

  my_second_job:
    name: Running tests
    runs-on: ubuntu-latest
    needs: my_first_job
    steps:
      - name: Test the code
        run: |
          echo Testing the code
