name: my-awesome-cicd-tool

on: push

jobs:
  my_first_job:
    name: Rock my world
    runs-on: ubuntu-latest
    strategy:
      matrix:
        compiler: [clang, gcc]
    steps:
      - name: compile the code
        env:
          CC: ${{ matrix.compiler }}
        run: |
          echo Building with $CC
          $CC --version
  my_second_job:
    name: Big city safari
    runs-on: ubuntu-latest
    needs: my_first_job
    steps:
      - name: Test the code
        run: |
          echo Testing the code